$primary: #faedcd;
$primary-hover:#d4a373;

$text-primary:#000000;
$text-secondary:#fff;


$border-primary:#E9EDC9;
$border-secondary:#ccd5ae;

$background-primary:#fefae0;
$background-secondary:#d79a5a;;
$background-tertiary:#fefae0;
$background-quaternary:#fefae0;
$background-quaternary__blur:#fefae0;

$sucess:#588157;
$danger:#e63946;


